.img{
  height: 235px;
  width: 435px;
  background-image: url(https://masai-course.s3.ap-south-1.amazonaws.com/resources/images/masai_banner.jpg);
  background-size: contain;
}

#name{
  margin-left: 20px;
}

#email{
  margin-left: 20px;
}

label{
  margin-left: 50px;
}